<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.its.alpro.customer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RequestBerlangsungActivity"
            android:label="@string/title_activity_request_berlangsung"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RequestBelumBayarActivity"
            android:label="@string/title_activity_request_belum_bayar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HistoryRequestActivity"
            android:label="@string/title_activity_history_request"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
